<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>249269958875-dkkb7gbjb78mis1e36kvmokvj4qcbtlb.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.249269958875-dkkb7gbjb78mis1e36kvmokvj4qcbtlb</string>
	<key>API_KEY</key>
	<string>AIzaSyCHPZayYi2zZ3T3XG9g3Sm9WxtIQmC2djs</string>
	<key>GCM_SENDER_ID</key>
	<string>249269958875</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>SAC-Studios.Voter</string>
	<key>PROJECT_ID</key>
	<string>voter-24eb8</string>
	<key>STORAGE_BUCKET</key>
	<string>voter-24eb8.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:249269958875:ios:0fe8d5487f4c1984</string>
	<key>DATABASE_URL</key>
	<string>https://voter-24eb8.firebaseio.com</string>
</dict>
</plist>